<div class="analytics-container">
    <mat-card class="analytics-box">
        <div class="box">
            <div class="icon-box back-color-blue">
                <mat-icon class="group first-color-blue">group</mat-icon>
            </div>
            <div class="number">
                <h2>{{userService.allUsers.length}}</h2>
                <p>Kontakte</p>
            </div>
        </div>
    </mat-card>

    <mat-card class="analytics-box">
        <div class="box">
            <div class="icon-box back-color-yellow">
                <mat-icon class="group first-color-yellow">group</mat-icon>
            </div>
            <div class="number">
                <h2>{{groupService.allGroups.length}}</h2>
                <p>Kontaktgruppen</p>
            </div>
        </div>
    </mat-card>

    <mat-card class="analytics-box">
        <div class="box">
            <div class="icon-box back-color-orange">
                <mat-icon class="group first-color-orange">group</mat-icon>
            </div>
            <div class="number">
                <h2>394</h2>
                <p>users</p>
            </div>
        </div>
    </mat-card>

    <mat-card class="analytics-box">
        <div class="box">
            <div class="icon-box back-color-green">
                <mat-icon class="group first-color-green">group</mat-icon>
            </div>
            <div class="number">
                <h2>394</h2>
                <p>users</p>
            </div>
        </div>
    </mat-card>

</div>