<!-- User List -->

<mat-card>
    <table class="user-table-title">
        <tr>
            <th>

            </th>
            <th>
                <mat-icon>account_circle</mat-icon> Kontakte</th>
            <th>
                <mat-icon>mail_outline</mat-icon> E-Mail</th>
            <th>
                <mat-icon>home</mat-icon> Adresse</th>
        </tr>
    </table>
</mat-card>

<mat-card *ngFor="let user of fs.allUsers">


    <table class="user-table" [routerLink]="['/user/' + user.customIdName]">
        <tr>
            <td> <img src="./assets/img/profile/user-man.png"> </td>
            <td style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
                <div style="display: flex; align-items: center; margin-bottom: 6px;">Frau</div>

                <div style="display: flex; align-items: center;">
                    <b>{{ user.firstName }} {{ user.lastName }}</b>
                </div>
            </td>
            <td style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
                <div style="display: flex; align-items: center; margin-bottom: 6px;">
                    <mat-icon>mail_outline</mat-icon>{{ user.email }}
                </div>
                <div style="display: flex; align-items: center;">
                    <mat-icon>phone</mat-icon> {{ user.phone }}
                </div>
            </td>

            <td style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
                <div style="display: flex; align-items: center; margin-bottom: 6px;">
                    {{ user.street }}
                </div>


                <div style="display: flex; align-items: center;">
                    {{ user.zipCode }} {{ user.city }}
                </div>
            </td>
        </tr>


    </table>

    <div class="user-delete">
        <mat-icon (click)="deleteUser(user.customIdName)" class="first-color-blue">delete</mat-icon>
    </div>
</mat-card>


<button (click)="openDialog()" matTooltip="Nutzer hinzufügen" class="add-user-btn" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>