/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mrl-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.full-width {
    width: 100%;
}

.dialog-container {
    position: relative;
    mat-progress-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }
}

.btn {
    height: 100%;
}

// Background Color
.back-color-blue {
    background-color: #D6EAFD;
}

.back-color-yellow {
    background-color: #FFF3CA;
}

.back-color-orange {
    background-color: #FFE4D8;
}

.back-color-green {
    background-color: #afe6c6;
}

// Background Color
.first-color-blue {
    color: #8D99E0;
}

.first-color-yellow {
    color: #FFD425;
}

.first-color-orange {
    color: #FC783B;
}

.first-color-green {
    color: #4dc47e;
}