<div class="mrl-16 adress-card">
    <mat-card class="mt-32">

        <mat-tab-group mat-align-tabs="start">


            <!-- Settings UserGroups -->
            <mat-tab label="Kontaktgruppen">


                <div class="tab-content">
                    <app-user-group></app-user-group>

                </div>



            </mat-tab>

            <mat-tab label="Termine">
                <div class="tab-content">
                    <mat-card-title class="mt-32">Termine</mat-card-title>
                </div>
            </mat-tab>
            <mat-tab label="Zahlungen">
                <div class="tab-content">
                    <mat-card-title class="mt-32">Zahlungen</mat-card-title>
                </div>
            </mat-tab>


        </mat-tab-group>

    </mat-card>

</div>